.main{
font-size: larger;
font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
display: flex;
background-image: url("https://media.istockphoto.com/id/1445196818/photo/group-of-cute-pets-on-white-background-banner-design.jpg?s=612x612&w=0&k=20&c=TFz9WoJfr7o_9VhuUA4XM6B4BC3gQ_TmA2C8Xe372C8=");
}
.sectionLeftSide {
 background-color: rgb(71, 97, 159,0.8);
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
border: red solid 2px;
}
.sectionRightSide{
  width: 1100px;
  border: green solid 2px;
}
.sectionAttributes{
  display: flex;
  align-items: center;
  gap: 50px;
  height: 200px;
  border: purple solid 2px;
}
.sectionMainList{
  border-radius: 10px;
background-color: rgb(71, 97, 159,0.8);
  height: 500px;
  border: blue solid 2px;
}

.attibutes{
border-radius: 10px;
border: rgb(0, 0, 0) dotted 2px;
width: 250px;
height: 100px;
background-color: rgb(71, 97, 159,0.8);
}

.item{
  z-index: 1;
  transition: transform 0.3s ease;
}
.item:hover{
  cursor: pointer;
  transform: scale(1.3); 
}

.searchOptions{
display: flex;
margin-bottom: 20px;
}

.sectionDivider_mainlist_moreAnalysis{
  display: flex;
  gap: 20px;
}

.moreAnalysis{
  border-radius: 10px;
  background-color: rgb(71, 97, 159,0.8);
}

.detailedpet{
  background-color: rgb(71, 97, 159,0.8);
  border-radius: 10px;
  padding: 20px;
}